<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pdthx"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission
        android:name="me.pdthx.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="me.pdthx.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.example.myapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="me.pdthx.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="5" />

    <application
        android:debuggable="true"
        android:icon="@drawable/paidthx_icon"
        android:label="@string/app_name" >
        <receiver
            android:name=".C2DMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="me.pdthx" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="me.pdthx" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddMoneyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ACHAccountSetupActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CustomTabActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".FriendsListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".PaystreamActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".ProfileControllerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RequestPaymentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SecurityPinActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SelectRecipientActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SendPaymentActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Paystream Dialogs -->

        <activity
            android:name=".Dialogs.IncomingPaymentDialog"
            android:theme="@style/PaystreamDialog" >
        </activity>
        <activity
            android:name=".Dialogs.IncomingRequestDialog"
            android:theme="@style/PaystreamDialog" >
        </activity>
        <activity
            android:name=".Dialogs.OutgoingPaymentDialog"
            android:theme="@style/PaystreamDialog" >
        </activity>
        <activity
            android:name=".Dialogs.OutgoingRequestDialog"
            android:theme="@style/PaystreamDialog" >
        </activity>
        <activity
            android:name=".Dialogs.PaymentAlertDialog"
            android:theme="@style/PaystreamAlertDialog" >
        </activity>

        <!-- Logged out Screens -->

        <activity
            android:name=".Login.TabUIActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Login.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Login.SignInUIActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Login.ForgotPasswordActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Login.SignUpUIActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Login.AboutActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <!-- Payment Account Management -->

        <activity
            android:name=".Accounts.ACHAccountSetupActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Accounts.AccountManagerActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Accounts.EnterPinActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Accounts.LinkAccountActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <!-- Setup ACH Account Screens -->

        <activity
            android:name=".Setup.ActivateActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Setup.PersonalizeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Setup.EnableActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Setup.CreatePinActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Setup.ConfirmPinActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Setup.CreateQuestionActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Settings Screens -->

        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        
        <!-- Security and Privacy Screens -->
        
        <activity
            android:name=".Settings.SecuritySettingsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".Settings.ChangePasswordActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Settings.AnswerQuestionActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- MeCode Settings Screens -->
        
        <activity
            android:name=".Settings.MeCodeSettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Settings.MeCodeSetupActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Do Good Screens -->
        
        <activity
            android:name=".PhotoCaptureExample"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DoGood.DoGoodIntroActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".DoGood.DonateActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".DoGood.PledgeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".DoGood.OrgListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".DoGood.DoGoodDialog"
            android:label="@string/app_name"
            android:theme="@style/DoGoodDialog" >
        </activity>
        <activity
            android:name=".DoGood.DoGoodInfoActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        
    </application>
</manifest>